body {
  background-color: #0e0e0e;
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 100%);
}
p {
  font-size: 14px;
}
.container {
  background-color: #141414;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 20px 40px;
  margin: 50px 30px 0;
}
.card {
  background-color: hsl(0, 0%, 12%);
  text-align: center;
  padding: 20px 40px;
  border-radius: 10px;
}
button {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  font-family: inherit;
  display: block;
  text-align: center;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  width: 100%;
  margin: 10px auto;
}
.location {
  color: hsl(75, 94%, 57%);
}
img {
  border-radius: 50%;
  width: 100px;
}
